<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookinfo</title>
</head>
<body>
    <p><a href='/books'>Home</a></p>
    <p><a href='/logout'>logout</a></p>
    <h1>{{book.title}}</h1>
    <p>Author: {{book.author.name}}</p>
    <div style="display: inline-block;">
        <h1>Reviews:</h1>
        {% for review in reviews %}
            <p>rating: {{review.rate}}</p>
            <p><a href="/users/{{review.commenter.id}}">{{review.commenter.alias}}</a> says:</p>
            <p>Posted on {{review.created_at}}</p>
            {% if user == review.commenter %}
                <p><a href='/books/{{review.book.id}}/delete'>Delete this review</a></p>
            {% endif %}
        {% endfor %}
        
    </div>
    <div style="display: inline-block; vertical-align: top; padding-left: 100px;">
        <form action="/books/{{book.id}}/addreview" method="post">
        {% csrf_token %}
        <p>
        <label>Add a review</label>
        <textarea name="review"></textarea>
        </p>
        <p>
        <label>Rating</label>
        <input type="text" name="rate"></text>
        </p>
        <button type="submit">Submit review</button>
        </form>
    </div>
</body>
</html>