<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User information</title>
</head>
<body>
    <p><a href='/books'>Home</a></p>
    <p><a href='/books/add'>Add book and review</a></p>
    <p><a href='/logout'>logout</a></p> 
    <h1>User Alias: {{user.alias}}</h1>
    <p>Username: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
    <p></p>
    
    <h3>Posted Reviews on following Books</h3>
    {% for review in reviews %}
    <p><a href='/books/{{review.book.id}}'>{{review.book.title}}</a></p>
    {% endfor %}
</body>
</html>